apiVersion: v1
kind: ConfigMap
metadata:
  name: fluent-bit-config
data:
  fluent-bit.conf: |
    [SERVICE]
        Flush        1
        Daemon       Off
        Log_Level    info
        Parsers_File parsers.conf

    [INPUT]
        Name              tail
        Path              {{ .Values.paths.containers }}
        Tag               kube.*
        Mem_Buf_Limit     10MB
        Skip_Long_Lines   On
        Refresh_Interval  5

    [FILTER]
        Name                kubernetes
        Match               kube.*
        Kube_Tag_Prefix     kube.var.log.containers.
        Merge_Log           On
        Keep_Log            Off

    [OUTPUT]
        Name            es
        Match           kube.*
        Host            {{ .Values.elasticsearch.host }}
        Port            {{ .Values.elasticsearch.port }}
        Index           {{ .Values.elasticsearch.index }}
        Logstash_Format {{ ternary "On" "Off" .Values.elasticsearch.logstash_format }}

  parsers.conf: |
    [PARSER]
        Name   docker
        Format json
        Time_Key time
        Time_Format %Y-%m-%dT%H:%M:%S.%L
