apiVersion: v1
kind: ConfigMap
metadata:
  name: fluent-bit-config
data:
  fluent-bit.conf: |
    [SERVICE]
        Flush        1
        Daemon       Off
        Log_Level    info
        Parsers_File parsers.conf

    [INPUT]
        Name              tail
        Path              {{ .Values.paths.containers }}
        Tag               kube.*
        Mem_Buf_Limit     10MB
        Skip_Long_Lines   On
        Refresh_Interval  5
        Parser            docker

    [FILTER]
        Name                kubernetes
        Match               kube.*
        Kube_Tag_Prefix     kube.var.log.containers.
        Merge_Log           On
        Keep_Log            Off

    [OUTPUT]
        Name                es
        Match               kube.*
        Host                {{ .Values.elasticsearch.host }}
        Port                {{ .Values.elasticsearch.port }}

        # делаем индексы вида logs-k8s-YYYY.MM.DD
        Logstash_Format     On
        Logstash_Prefix     logs-k8s

        # КРИТИЧНО для Elasticsearch 7/8 — не слать _type
        Suppress_Type_Name  On

        # чуть более удобный формат полей
        Replace_Dots        On
        Retry_Limit         False

  parsers.conf: |
    [PARSER]
        Name   docker
        Format json
        Time_Key time
        Time_Format %Y-%m-%dT%H:%M:%S.%L
