apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: fluent-bit
  labels:
    app: fluent-bit
spec:
  selector:
    matchLabels:
      app: fluent-bit
  template:
    metadata:
      labels:
        app: fluent-bit
    spec:
      serviceAccountName: {{ default "fluent-bit" .Values.serviceAccount.name }}
      tolerations:
        - operator: "Exists"   # чтобы собирать логи и с master/tainted-нод
      containers:
        - name: fluent-bit
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            - -c
            - /fluent-bit/etc/fluent-bit.conf
          volumeMounts:
            - name: varlog
              mountPath: /var/log
            - name: etcfluentbit
              mountPath: /fluent-bit/etc
          resources:
{{- toYaml .Values.resources | nindent 12 }}
      volumes:
        - name: varlog
          hostPath:
            path: /var/log
        - name: etcfluentbit
          configMap:
            name: fluent-bit-config
            items:
              - key: fluent-bit.conf
                path: fluent-bit.conf
              - key: parsers.conf
                path: parsers.conf
