apiVersion: v1
kind: ConfigMap
metadata:
  name: kibana-config
data:
  kibana.yml: |
    server.host: "0.0.0.0"
    server.publicBaseUrl: "https://{{ (index .Values.ingress.hosts 0).host | default "localhost" }}"
    elasticsearch.hosts: ["{{ .Values.elasticsearch.url }}"]
