apiVersion: apps/v1
kind: Deployment
metadata:
  name: kibana
  labels:
    app: kibana
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: kibana
  template:
    metadata:
      labels:
        app: kibana
    spec:
      containers:
        - name: kibana
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 5601
          volumeMounts:
            - name: config
              mountPath: /usr/share/kibana/config/kibana.yml
              subPath: kibana.yml
          env:
            - name: ELASTICSEARCH_HOSTS
              value: "{{ .Values.elasticsearch.url }}"
          resources:
{{- toYaml .Values.resources | nindent 12 }}
      volumes:
        - name: config
          configMap:
            name: kibana-config
