{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: kibana
  annotations:
{{- range $k, $v := .Values.ingress.annotations }}
    {{ $k }}: "{{ $v }}"
{{- end }}
spec:
  ingressClassName: {{ .Values.ingress.className }}
  rules:
{{- range .Values.ingress.hosts }}
    - host: {{ .host }}
      http:
        paths:
          - path: {{ .path | default "/" }}
            pathType: Prefix
            backend:
              service:
                name: kibana
                port:
                  number: {{ $.Values.service.port }}
{{- end }}
  tls:
{{- toYaml .Values.ingress.tls | nindent 4 }}
{{- end }}
