replicas: 1

image:
  repository: docker.io/kibana
  tag: "8.13.0"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 5601

elasticsearch:
  # URL для подключения Kibana к ES
  url: "http://elasticsearch:9200"

resources: {}

ingress:
  enabled: true
  className: nginx

  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/proxy-buffer-size: "128k"
    nginx.ingress.kubernetes.io/proxy-buffers-number: "4"
    nginx.ingress.kubernetes.io/x-forwarded-proto: "https"

  hosts:
    - host: kibana.mycum.ru
      path: /

  tls:
    - secretName: kibana-tls
      hosts:
        - kibana.mycum.ru
